@import "tailwindcss";

body {
  @apply h-full bg-black;
}
:root {
  @apply h-full bg-black;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
